@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&family=Poppins&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.spaceRound {
  margin: 0 25px;
  padding-bottom: 4rem;
}

#statesize {
  font-size: x-large;
  margin-top: 4rem;
}

#helloFont {
  font-style: normal;
  font-weight: 400px;
  font-size: 40px;
  line-height: 37px;
}

#dateSize {
  font-size: xx-large;
  font-weight: 400px;
}

#firstback {
  background-image: url('./assets/back1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hrstyle {
  width: 10%;
  background-color: #ec5242;
  border: #ec5242 1px solid;
}

#progspace {
  margin-top: 30px;
}

.ham-space {
  margin: 0 25px;
  padding: 15px 0;
}

.textColor {
  color: #ec5242;
}

#homeintro {
  margin-left: 4rem;
}

#background {
  background-color: #F0F0F0;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #fff;
}

.textcol {
  color: #4b4b4b;
}

.backgrounds {
  background-color: #F0F0F0;
  padding: 1rem;
  border: 1px solid #fff;
}

.flexCard {
  display: flex;
  margin-top: 3rem;
}

.margo {
  margin: 2rem 2rem 5rem 2rem;
}

#mainback {
  background-color: #272a31;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.fa-color {
  color: white !important;
}

.imgs {
  width: 8rem;
  height: 8rem;
}

.namz {
  margin: 0;
}

.namz2 {
  margin: 0;
}

.speaktext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}


.iconcards {
  background-image: url('./assets/back2.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.02);
  margin-top: 20px;
}

.conspace {
  margin: 0 10px;
}

#button {
  color: white;
  background-color: #fc4c3c;
  border: none;
  padding: 20px 30px;
  margin: 50px 0;
}

.partnerback {
  background-color: #3c3f46;
}

#logo {
  width: 55px;
  height: 55px;
}

.noStyle {
  list-style: none;
}

.noAncStyle {
  text-decoration: none;
  color: inherit;
  margin: 50px 0;
}

.noAncStyl {
  color: inherit;
  margin: 50px 0;
}

#Btn {
  color: #ec5242;
  background-color: white;
  border: 5px solid #ec5242;
  padding: 8px 10px;
  margin-left: 40px;
  font-weight: 600px;
  font-size: 30px;
}

.navSpace {
  margin-left: 10px;
}

.listStle {
  margin-top: 20px;
  font-weight: 600px;
  font-size: 40px;
  color: white;
}

.noDisplay {
  display: none;
}

/*to be used on mobile menu*/
.hideMenu {
  transform: translateX(-100%);
}

.displayMenu {
  transform: translateY(0);
}

.blurBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  transition: 0.3s;
}

#topnav {
  display: none;
}

.partnerback {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

#partlog {
  display: flex;
  flex-direction: column;
}

.partlog1 {
  display: flex;
}

.logoz {
  font-weight: 0;
  font-size: 35px;
  margin: 20px 6px;
}

.air {
  width: 30px;
}

#foots {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#extra {
  display: none;
}

#part {
  color: white;
}

.centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

#midlog {
  width: 6rem;
  margin-bottom: 4rem;
}

#sumlink {
  color: black;
  font-style: none;
}

.margins {
  margin: 0 2rem;
}

#imgtag {
  display: flex;
  flex-direction: column;
}

#sizing {
  max-width: 300px;
}

.spacin {
  margin: 1rem 0;
}

#dynamic {
  display: grid;
  grid-template-columns: auto;
}

@media only screen and (min-width: 768px) {
  #toptweet {
    width: 20px;
    height: 20px;
  }

  #topnav {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    background-color: #393936;
    margin: 0;
    padding: 3px;
    color: white;
  }

  .topli {
    margin-right: 20px;
  }

  #face {
    margin-right: 140px;
  }

  .ham-space {
    display: none;
  }

  .spaceRound {
    margin-top: 0;
  }

  .hideMenu {
    transform: translateX(0);
  }

  .blurBack {
    position: static;
    width: auto;
    height: auto;
    background-color: white;
    transition: none;
    display: flex;
    justify-content: space-between;
  }

  .listStle {
    margin: 0 25px;
    font-weight: 0;
    font-size: 15px;
    color: #000;
  }

  .deskarr {
    display: flex;
    justify-content: space-between;
  }

  #Btn {
    padding: 2px 5px;
    margin: 0 140px 0 40px;
    font-weight: 0;
    font-size: 15px;
  }

  .noDisplay {
    display: inline;
    margin: 0 0 0 50px;
  }

  #statesize {
    font-size: 40px;
    margin-top: 100px;
    margin-top: 5rem;
  }

  #helloFont {
    font-style: normal;
    font-weight: 400px;
    font-size: 65px;
    line-height: 37px;
  }

  #progspace {
    display: flex;
  }

  .iconcards {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    justify-content: center;
  }

  .notDisp {
    display: none;
  }

  .logoz {
    margin: 0 15px;
  }

  #extra {
    display: block;
  }

  #sizing {
    max-width: 700px;
  }

  #partlog {
    display: flex;
    flex-direction: row;
  }

  .partlog1 {
    display: flex;
  }

  .logoz {
    font-weight: 0;
    font-size: 35px;
    margin: 20px 20px;
  }

  #imgtag {
    flex-direction: row;
  }

  .spacin {
    margin: 3rem 1rem;
  }

  #dynamic {
    grid-template-columns: auto auto;
  }

  .noAncStyl {
    color: inherit;
    margin: 50px 0;
  }
}