@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&family=Poppins&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.spaceRound {
  margin: 25px;
}

.ham-space {
  margin: 15px 25px;
}

.textColor {
  color: #ec5242;
}

#helloFont {
  font-style: normal;
  font-weight: 400px;
  font-size: 40px;
  line-height: 25px;
}

#background {
  background-color: #F0F0F0;
}

#mainback {
  background-color: #272a31;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.fa-color {
  color: white !important;
}

.imgs {
  width: 65px;
  height: 65px;
}

.iconcards {
  background-color: #3c3f46;
  display: flex;
  justify-content: space-between;
}

#button {
  color: white;
  background-color: #fc4c3c;
  border: none;
  padding: 20px 30px;
  margin-top: 15px;
}

.partnerback {
  background-color: #3c3f46;
}

#logo {
  width: 55px;
  height: 55px;
}

.noStyle {
  list-style: none;
}

.noAncStyle {
  text-decoration: none;
  color: inherit;
}

#Btn {
  color: #ec5242;
  background-color: white;
  border: 5px solid #ec5242;
  padding: 8px 10px;
  margin-left: 40px;
  font-weight: 600px;
  font-size: 30px;
}

.navSpace {
  margin-left: 10px;
}

.listStle {
  margin-top: 20px;
  font-weight: 600px;
  font-size: 40px;
  color: white;
}

.noDisplay {
  display: none;
}

/*to be used on mobile menu*/
.hideMenu {
  transform: translateX(-100%);
}

.displayMenu {
  transform: translateY(0);
}

.blurBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  transition: 0.3s;
}